/*
 * JavaScript LINQ Concept examplary CSS
 *
 *
 * 
 * Author: Łukasz Dąbrowski
 * Title : Software Engineer
 * 
 * (c) C4B Solutions Open Source
 *
 * License: MIT (http://www.opensource.org/licenses/mit-license.php)
*/

body {
		background-color: #ffff72;

		color: #c0bd63;

		cursor: none;

        font-size: 4em;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

		margin-left: auto;
		margin-right: auto;
		margin-top: 1em;

		position: relative;

		width: 1200px;
    }

	.content {
		margin: auto;

		position: relative;

		width: 100%;
	}

	#readme {
		height: 2em;

		margin: auto;
		position: relative;

		width: 100%;
	}

	#city {
		background-repeat: no-repeat;
		background-size: 100% 220px;
		background-image: url(../images/Warsaw_Modern_Mermaid.png);

		cursor: pointer;

		height: 200px;
		
		margin-left: auto;
		margin-right: auto;
		margin-top: 0;

		position: relative;

		width: 200px;
	}

	.author {
		background-repeat: no-repeat;
		background-size: 100% 170px;
		background-image: url(../images/C4B_Solutions_Open_Source.png);

		height: 170px;

		margin-left: auto;
		margin-right: auto;
		margin-top: 3%;

		position: relative;

		width: 170px;
	}